Repository hackclub/blot, pull requests merged in 2024-02, with the labels that each got.

#261 blot-ayush
  art/blot-ayush/index.js
  art/blot-ayush/snapshots/blot1.png
  art/blot-ayush/snapshots/blot2.png
  art/blot-ayush/snapshots/blot3.png
Labels: submission, approved

#276 {among us}--{Sahil Dasari}
  art/{among us}--{Sahil Dasari}/Blot FINAL Among Us.js
  art/{among us}--{Sahil Dasari}/snapshots/Big Bag.png
  art/{among us}--{Sahil Dasari}/snapshots/Big Glasses Big Bag.png
  art/{among us}--{Sahil Dasari}/snapshots/Big Glasses.png
  art/{among us}--{Sahil Dasari}/snapshots/Original.png
Labels: submission, approved

#241 Emoji gen-samarpan
  art/Emoji generator_samarpan/smiley.js
  art/Emoji generator_samarpan/snapshots/Screenshot 2023-12-27 103929.png
  art/Emoji generator_samarpan/snapshots/Screenshot 2023-12-27 103945.png
  art/Emoji generator_samarpan/snapshots/Screenshot 2024-01-17 235711.png
  art/Emoji generator_samarpan/snapshots/Screenshot 2024-01-17 235716.png
  art/Emoji generator_samarpan/snapshots/Screenshot 2024-01-18 000155.png
  art/Emoji generator_samarpan/snapshots/Screenshot 2024-01-18 000202.png
  art/Emoji generator_samarpan/snapshots/Screenshot 2024-01-18 000348.png
  art/Emoji generator_samarpan/snapshots/Screenshot 2024-01-18 000354.png
  art/Emoji generator_samarpan/snapshots/Screenshot 2024-01-18 000404.png
  art/Emoji generator_samarpan/snapshots/Screenshot 2024-01-31 140412.png
  art/Emoji generator_samarpan/snapshots/Screenshot 2024-01-31 140427.png
  art/Emoji generator_samarpan/snapshots/Screenshot 2024-01-31 140443.png
  art/Emoji generator_samarpan/snapshots/Screenshot 2024-01-31 140459.png
  art/Emoji generator_samarpan/snapshots/Screenshot 2024-01-31 140505.png
  art/Emoji generator_samarpan/snapshots/Screenshot 2024-01-31 140514.png
Labels: revisions-requested, submission

#287 Michelle Blot PR
  art/SpiderWeb-Michelle/index.js.js
  art/SpiderWeb-Michelle/snapshots/1.png
  art/SpiderWeb-Michelle/snapshots/2.png
  art/SpiderWeb-Michelle/snapshots/3.png
  art/SpiderWeb-Michelle/snapshots/4.png
Labels: submission

#252 flower-sahitid
  art/flower-sahitid/index.js
  art/flower-sahitid/shapshots/Screenshot 2024-01-21 141524.png
  art/flower-sahitid/shapshots/Screenshot 2024-01-21 141606.png
  art/flower-sahitid/shapshots/Screenshot 2024-01-21 141621.png
Labels: revisions-requested, submission

#292 Added Oskar's Mandelbrot generator.
  art/Mandelbrot-Oskar/index.js
  art/Mandelbrot-Oskar/snapshots/Screenshot 2024-02-12 182502.png
  art/Mandelbrot-Oskar/snapshots/Screenshot 2024-02-12 182517.png
  art/Mandelbrot-Oskar/snapshots/Screenshot 2024-02-12 182529.png
Labels: submission
