Repository hackclub/blot, pull requests merged in 2024-07, with the labels that each got.

#640 Added stereoscopy by mrdarip
  art/stereoscopy-mrdarip/index.js
  art/stereoscopy-mrdarip/snapshots/boatPreview.png
  art/stereoscopy-mrdarip/snapshots/cubePreview.png
  art/stereoscopy-mrdarip/snapshots/stereoscopyPreview.png
Labels: submission, approved

#572 FramedChildishDrawing-ValeriaDA
  art/FramedChildishDrawing-ValeriaDA/index.js
  art/FramedChildishDrawing-ValeriaDA/snapshots/snapshot1.png
  art/FramedChildishDrawing-ValeriaDA/snapshots/snapshot2.png
  art/FramedChildishDrawing-ValeriaDA/snapshots/snapshot3.png
Labels: submission, changes-requested

#650 flower-gwentigges
  art/flower-gwentigges/index.js
  art/flower-gwentigges/snapshots/flower1.png
  art/flower-gwentigges/snapshots/flower2.png
  art/flower-gwentigges/snapshots/flower3.png
Labels: submission, approved

#667 BinaryComputer-NotRewd
  art/BinaryComputer-NotRewd/index.js
  art/BinaryComputer-NotRewd/snapshots/image-1.png
  art/BinaryComputer-NotRewd/snapshots/image-2.png
  art/BinaryComputer-NotRewd/snapshots/image-3.png
Labels: submission, approved

#690 outer_space-Loewe111
  art/outer_space-Loewe111/index.js
  art/outer_space-Loewe111/snapshots/snapshot0.png
  art/outer_space-Loewe111/snapshots/snapshot1.png
  art/outer_space-Loewe111/snapshots/snapshot2.png
Labels: submission

#670 UnionedPolygons-sosenteam
  art/UnionedPolygons-sosenteam/index.js
  art/UnionedPolygons-sosenteam/snapshots/cover.png
  art/UnionedPolygons-sosenteam/snapshots/picture (1).png
  art/UnionedPolygons-sosenteam/snapshots/picture (2).png
  art/UnionedPolygons-sosenteam/snapshots/picture (3).png
  art/UnionedPolygons-sosenteam/snapshots/picture (4).png
Labels: submission

#606 BeautifulSaturn-AlexB
  art/BeautifulSaturn-AlexB/index.js
  art/BeautifulSaturn-AlexB/snapshots/snapshot1.png
  art/BeautifulSaturn-AlexB/snapshots/snapshot2.png
  art/BeautifulSaturn-AlexB/snapshots/snapshot3.png
Labels: submission

#687 JackintheBox-Dylan
  art/JackintheBox-Dylan/Index.js
  art/JackintheBox-Dylan/snapshots/JackInTheBox2.png
  art/JackintheBox-Dylan/snapshots/JackintheBox1.png
  art/JackintheBox-Dylan/snapshots/JackintheBox3.png
Labels: submission

#704 DellPowerEdge-Ssmidge
  art/DellPowerEdge-Ssmidge/index.js
  art/DellPowerEdge-Ssmidge/snapshots/snapshot1.png
  art/DellPowerEdge-Ssmidge/snapshots/snapshot2.png
  art/DellPowerEdge-Ssmidge/snapshots/snapshot3.png
Labels: submission

#736 fractal_circle-Nicolas_Landucci
  art/fractal_circle-Nicolas_Landucci/index.js
  art/fractal_circle-Nicolas_Landucci/snapshots/0.png
  art/fractal_circle-Nicolas_Landucci/snapshots/1.png
  art/fractal_circle-Nicolas_Landucci/snapshots/2.png
Labels: submission

#733 BlottleShip-LinusC
  art/BlottleShip-LinusC/index.js
  art/BlottleShip-LinusC/snapshots/Blottleship.png
  art/BlottleShip-LinusC/snapshots/Blottleship2.png
  art/BlottleShip-LinusC/snapshots/Blottleship3.png
  art/BlottleShip-LinusC/snapshots/Blottleship4.png
Labels: submission

#745 Add features to SVG import
  src/components/DropBox.tsx
  src/drawingToolkit/toolkit.js
Labels: dev
