Repository hackclub/blot, pull requests merged in 2024-09, with the labels that each got.

#874 MoonlitRoad-Ben
  art/MoonlitRoad-Ben/index.js
  art/MoonlitRoad-Ben/snapshots/1.PNG
  art/MoonlitRoad-Ben/snapshots/2.PNG
  art/MoonlitRoad-Ben/snapshots/3.PNG
Labels: submission

#832 algorithmicCats-lolaSanchez
  art/algorithmicCats-lolaSanchez/index.js
  art/algorithmicCats-lolaSanchez/snapshots/snapshot0.png
  art/algorithmicCats-lolaSanchez/snapshots/snapshot1.png
  art/algorithmicCats-lolaSanchez/snapshots/snapshot2.png
Labels: submission

#724 Harmonograph-Ansh
  art/harmonograph-Ansh/index.js
  art/harmonograph-Ansh/snapshots/snapshot1.png
  art/harmonograph-Ansh/snapshots/snapshot2.png
  art/harmonograph-Ansh/snapshots/snapshot3.png
Labels: submission, irl drawing

#853 3D_Printer-Yash
  art/3D_Printer-Yash/index.js
  art/3D_Printer-Yash/snapshots/image1.png
  art/3D_Printer-Yash/snapshots/image2.png
  art/3D_Printer-Yash/snapshots/image3.png
Labels: submission

#899 Add plagiarism checker
  .github/scripts/extract_percentages.py
  .github/scripts/plagiarism_check.py
  .github/workflows/check_plagiarism.yml
Labels: dev

#767 Radio-Neon
  art/Radio-Neon/index.js
  art/Radio-Neon/snapshots/snapshot1.png
  art/Radio-Neon/snapshots/snapshot2.png
  art/Radio-Neon/snapshots/snapshot3.png
Labels: submission

#923 Update Snapshot Link
  art/Birb-AyaanGrover/index.js
Labels: submission
