Repository hackclub/blot, pull requests merged in 2024-08, with the labels that each got.

#774 Update ASSEMBLY.md
  docs/assembly/ASSEMBLY.md
Labels: dev

#760 General improvements to editor
  src/components/DropBox.tsx
Labels: dev

#772 fix gh action - check artwork
  .github/workflows/check_artwork.yml
Labels: dev

#756 BlotChess - Random Chess Puzzles now with Blot!
  art/blotchess-blazecoding2009/index.js
  art/blotchess-blazecoding2009/snapshots/snapshot1.png
  art/blotchess-blazecoding2009/snapshots/snapshot2.png
  art/blotchess-blazecoding2009/snapshots/snapshot3.png
Labels: submission, async code

#696 CyberTruck-Viv
  art/CyberTruck-Viv/CyberTruck-Viv.js
  art/CyberTruck-Viv/snapshots/snapshot1.png
  art/CyberTruck-Viv/snapshots/snapshot2.png
  art/CyberTruck-Viv/snapshots/snapshot3.png
Labels: submission

#757 Desert-minimal-Nikhil
  art/Desert-minimal-Nikhil/index.js
  art/Desert-minimal-Nikhil/snapshots/0.png
  art/Desert-minimal-Nikhil/snapshots/1.png
  art/Desert-minimal-Nikhil/snapshots/2.png
  art/Desert-minimal-Nikhil/snapshots/3.png
Labels: submission

#763 Add links to wikipedia to explain curve types
  docs/DOCUMENTATION.md
Labels: dev

#676 CarEmblemGenerator-Cral-Cactus
  art/CarEmblemGenerator-Cral-Cactus/index.js
  art/CarEmblemGenerator-Cral-Cactus/snapshots/car1.png
  art/CarEmblemGenerator-Cral-Cactus/snapshots/car2.png
  art/CarEmblemGenerator-Cral-Cactus/snapshots/car3.png
Labels: submission

#781 README: fix typos
  README.md
Labels: dev

#803 ScannableQRArt-AdrianR3
  art/ScannableQRArt-AdrianR3/index.js
  art/ScannableQRArt-AdrianR3/snapshots/snapshot-1.png
  art/ScannableQRArt-AdrianR3/snapshots/snapshot-2.png
  art/ScannableQRArt-AdrianR3/snapshots/snapshot-3.png
  art/ScannableQRArt-AdrianR3/snapshots/snapshot-4.png
Labels: submission

#715 Burger-Dhyan99
  art/Burger-Dhyan99/index.js
  art/Burger-Dhyan99/snapshots/image-1.png
  art/Burger-Dhyan99/snapshots/image-2.png
  art/Burger-Dhyan99/snapshots/image-3.png
Labels: submission

#707 Birb-AyaanGrover
  art/Birb-AyaanGrover/index.js
  art/Birb-AyaanGrover/snapshots/snapshot1.png
  art/Birb-AyaanGrover/snapshots/snapshot2.png
  art/Birb-AyaanGrover/snapshots/snapshot3.png
Labels: submission

#808 GH Action: Send order form on merged PRs
  .github/workflows/post_order_form.yml
Labels: dev

#820 FragmentedHorizon-Aleks
  art/FragmentedHorizon-Aleks/index.js
  art/FragmentedHorizon-Aleks/snapshots/snapshot1.png
  art/FragmentedHorizon-Aleks/snapshots/snapshot2.png
  art/FragmentedHorizon-Aleks/snapshots/snapshot3.png
Labels: submission

#814 muchroomForMushrooms-Xinyang
  art/muchroomForMushrooms-Xinyang/index.js
  art/muchroomForMushrooms-Xinyang/snapshots/image1.png
  art/muchroomForMushrooms-Xinyang/snapshots/image2.png
  art/muchroomForMushrooms-Xinyang/snapshots/image3.png
Labels: irl drawing

#844 Revert "make ready to deploy on vercel"
  api/index.js
  build.js
  server.js
  vercel.json
Labels: bug, dev

#787 Tetris-Naainz
  art/Tetris-Naainz/index.js
  art/Tetris-Naainz/snapshots/img1.png
  art/Tetris-Naainz/snapshots/img2.png
  art/Tetris-Naainz/snapshots/img3.png
Labels: submission

#775 ParametricRandomF1CircuitGenerator-AbhinavMalladi
  art/ParametricRandomF1CircuitGenerator-AbhinavMalladi/index.js
  art/ParametricRandomF1CircuitGenerator-AbhinavMalladi/snapshots/Track.png
  art/ParametricRandomF1CircuitGenerator-AbhinavMalladi/snapshots/Track2.png
  art/ParametricRandomF1CircuitGenerator-AbhinavMalladi/snapshots/Track3.png
Labels: submission

#840 Bring back bootup light pattern
  hardware/motor-control-board/firmware/firmware.ino
Labels: dev

#685 stringArt-jamesLian
  art/stringArt-jamesLian/index.js
  art/stringArt-jamesLian/snapshots/stringart-IU-highresolution.png
  art/stringArt-jamesLian/snapshots/stringart-monalisa-highresolution.png
  art/stringArt-jamesLian/snapshots/stringart-monalisa-lowresolution.png
Labels: submission, async code

#700 OldTV-Ernests
  art/OldTV-Ernests/index.js
  art/OldTV-Ernests/snapshots/snap0.png
  art/OldTV-Ernests/snapshots/snap1.png
  art/OldTV-Ernests/snapshots/snap2.png
  art/OldTV-Ernests/snapshots/snap3.png
Labels: submission

#873 BlotChess Fix
  art/blotchess-blazecoding2009/index.js
Labels: submission
